/* responsive.css */

/* For small devices like smartphones */
@media (max-width: 576px) {
    .sidebar {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .page-content {
        margin-left: 0; 
    }

    .about-grid {
        grid-template-columns: 1fr;
        gap: 0; 
    }
}

/* For tablets and larger devices */
@media (min-width: 768px) {
    .about-grid {
        grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    }

    .page-content {
        margin-left: 12.5rem;
    }
}

/* For larger desktops */
@media (min-width: 992px) {

}

/* For extra large desktops */
@media (min-width: 1200px) {

}
